In [1]:
import pandas as pd

# Import Sales Transaction file and Customer file
sales_2017_df = pd.read_csv('Sales Transactions-2017.csv')
sales_2018_df = pd.read_csv('Sales Transactions-2018.csv')
sales_2019_df = pd.read_csv('Sales Transactions-2019.csv')

Perform Data Cleaning

In [2]:
# Concatenate all the Sales dataframes
full_sales_df = pd.concat([sales_2017_df, sales_2018_df, sales_2019_df], ignore_index=True,sort=False)

In [3]:
# Drop the Columns Gross, Disc, Voucher Amount, using drop() method on the specific columns
sales_df = full_sales_df.drop(columns=['Gross','Disc','Voucher Amount'],axis=1)

In [6]:
sales_df.head(15)

        Date   Voucher                Party             Product  Qty      Rate
0   1/4/2017     Sal:1     SOLANKI PLASTICS       DONA-VAI-9100    2  1,690.00
1   1/4/2017     Sal:1     SOLANKI PLASTICS     LITE FOAM(1200)    6  1,620.00
2   1/4/2017     Sal:2   SARNESWARA TRADERS   VISHNU CHOTA WINE  500        23
3   1/4/2017     Sal:2   SARNESWARA TRADERS     LITE FOAM(1200)    6  1,620.00
4   1/4/2017     Sal:2   SARNESWARA TRADERS       DONA-VAI-9100    5  1,690.00
5   1/4/2017     Sal:2   SARNESWARA TRADERS  CLASSIC ENJOY(750)    1  1,320.00
6   1/4/2017   Sal:898                 Lock        Vishnu 250ml  100        30
7   1/4/2017   Sal:898                 Lock     BLACK DOG-350ML  100        26
8                       khader vali late en
9                                       try
10  1/4/2017  Sal:2497  VAMSI KRISHNA FANCY         Loose Items    1       800
11       NaN       NaN               #NAME?                 NaN  NaN       NaN
12                              DUMMY ENTRY
13  1/4/2017  Sal:9263  VAMSI KRISHNA FANCY         Loose Items    1       280
14       NaN       NaN               #NAME?                 NaN  NaN       NaN

In [7]:
# Dropping the Rows with Date column being NaN (Null) or Spaces
sales_df = sales_df[sales_df['Date'] != ' '].dropna(subset=['Date'])
sales_df.head(15)

        Date   Voucher                Party             Product  Qty      Rate
0   1/4/2017     Sal:1     SOLANKI PLASTICS       DONA-VAI-9100    2  1,690.00
1   1/4/2017     Sal:1     SOLANKI PLASTICS     LITE FOAM(1200)    6  1,620.00
2   1/4/2017     Sal:2   SARNESWARA TRADERS   VISHNU CHOTA WINE  500        23
3   1/4/2017     Sal:2   SARNESWARA TRADERS     LITE FOAM(1200)    6  1,620.00
4   1/4/2017     Sal:2   SARNESWARA TRADERS       DONA-VAI-9100    5  1,690.00
5   1/4/2017     Sal:2   SARNESWARA TRADERS  CLASSIC ENJOY(750)    1  1,320.00
6   1/4/2017   Sal:898                 Lock        Vishnu 250ml  100        30
7   1/4/2017   Sal:898                 Lock     BLACK DOG-350ML  100        26
10  1/4/2017  Sal:2497  VAMSI KRISHNA FANCY         Loose Items    1       800
13  1/4/2017  Sal:9263  VAMSI KRISHNA FANCY         Loose Items    1       280
16  1/4/2017  Sal:9545                  Vkp         Loose Items    1       695
18  2/4/2017    Sal:16                  KPR     LITE FOAM(1200)    1  1,620.00
19  3/4/2017     Sal:3      BALAJI PLASTICS       90ML RANGEELA  150      14.5
20  3/4/2017     Sal:4           DURGAHOTEL   SILVER POUCH 9*12   10        90
21  3/4/2017     Sal:4           DURGAHOTEL   SILVER POUCH 8*10   10        70

In [8]:
# Convert the Date format YYYY/MM/DD 
sales_df['Date'] = pd.to_datetime(sales_df['Date'],dayfirst=True)

In [9]:
# Removing the string
sales_df['Voucher'] = sales_df['Voucher'].str.slice(start=4,stop=None,step=1).astype(int)

In [12]:
# Coverting the Party and product column into uppercase
sales_df['Party'] = sales_df['Party'].str.upper()
sales_df['Product'] = sales_df['Product'].str.upper()
sales_df.head(15)

         Date  Voucher                Party             Product  Qty      Rate
0  2017-04-01        1     SOLANKI PLASTICS       DONA-VAI-9100    2  1,690.00
1  2017-04-01        1     SOLANKI PLASTICS     LITE FOAM(1200)    6  1,620.00
2  2017-04-01        2   SARNESWARA TRADERS   VISHNU CHOTA WINE  500        23
3  2017-04-01        2   SARNESWARA TRADERS     LITE FOAM(1200)    6  1,620.00
4  2017-04-01        2   SARNESWARA TRADERS       DONA-VAI-9100    5  1,690.00
5  2017-04-01        2   SARNESWARA TRADERS  CLASSIC ENJOY(750)    1  1,320.00
6  2017-04-01      898                 LOCK        VISHNU 250ML  100        30
7  2017-04-01      898                 LOCK     BLACK DOG-350ML  100        26
10 2017-04-01     2497  VAMSI KRISHNA FANCY         LOOSE ITEMS    1       800
13 2017-04-01     9263  VAMSI KRISHNA FANCY         LOOSE ITEMS    1       280
16 2017-04-01     9545                  VKP         LOOSE ITEMS    1       695
18 2017-04-02       16                  KPR     LITE FOAM(1200)    1  1,620.00
19 2017-04-03        3      BALAJI PLASTICS       90ML RANGEELA  150      14.5
20 2017-04-03        4           DURGAHOTEL   SILVER POUCH 9*12   10        90
21 2017-04-03        4           DURGAHOTEL   SILVER POUCH 8*10   10        70

In [13]:
# Converting the Qty column into an integer
sales_df['Qty'] = sales_df['Qty'].str.replace(',','').astype(float).astype(int)

In [14]:
# Removing commas in the Rate column
sales_df['Rate'] = sales_df['Rate'].str.replace(',','').astype(float)

In [15]:
# Sorting the Sales Transaction file in the order of Date and Voucher
sales_df = sales_df.sort_values(['Date','Voucher'])

In [16]:
sales_df.head(15)

         Date  Voucher                Party             Product  Qty    Rate
0  2017-04-01        1     SOLANKI PLASTICS       DONA-VAI-9100    2  1690.0
1  2017-04-01        1     SOLANKI PLASTICS     LITE FOAM(1200)    6  1620.0
2  2017-04-01        2   SARNESWARA TRADERS   VISHNU CHOTA WINE  500    23.0
3  2017-04-01        2   SARNESWARA TRADERS     LITE FOAM(1200)    6  1620.0
4  2017-04-01        2   SARNESWARA TRADERS       DONA-VAI-9100    5  1690.0
5  2017-04-01        2   SARNESWARA TRADERS  CLASSIC ENJOY(750)    1  1320.0
6  2017-04-01      898                 LOCK        VISHNU 250ML  100    30.0
7  2017-04-01      898                 LOCK     BLACK DOG-350ML  100    26.0
10 2017-04-01     2497  VAMSI KRISHNA FANCY         LOOSE ITEMS    1   800.0
13 2017-04-01     9263  VAMSI KRISHNA FANCY         LOOSE ITEMS    1   280.0
16 2017-04-01     9545                  VKP         LOOSE ITEMS    1   695.0
18 2017-04-02       16                  KPR     LITE FOAM(1200)    1  1620.0
19 2017-04-03        3      BALAJI PLASTICS       90ML RANGEELA  150    14.5
20 2017-04-03        4           DURGAHOTEL   SILVER POUCH 9*12   10    90.0
21 2017-04-03        4           DURGAHOTEL   SILVER POUCH 8*10   10    70.0

In [17]:
# Then we write the Edited Sales Transaction file to .csv
sales_df.to_csv('Sales-Transactions-Edited.csv',index=False)

PRODUCT RANKING>>>>

In [18]:
# Finding the no of units sold of each product
# Finding the unit price of each product (max of price considered, may required to be changed to median or mean)
top_sell_items_df = sales_df.groupby('Product').agg({'Qty':'sum', 'Rate':'max'})

In [19]:
# Reset the index: converts the Product into a column
top_sell_items_df.reset_index(inplace=True)

In [20]:
# Rank the product by most Qty sold
top_sell_items_df['Top_Sell_Rank'] = top_sell_items_df['Qty'].rank(method='min',ascending=False).astype(int)
top_sell_items_df.sort_values('Qty',ascending=False).head(20)

                 Product      Qty   Rate  Top_Sell_Rank
91              14 GREEN  3474510  400.0              1
282      CYCLE-BLU-10*12   741675    7.1              2
177  500ML PLASTIC BOULS   587600    3.8              3
314     DURGA 10*12 BLUE   530384  110.0              4
43       10*12 SARAS-NAT   433630   81.0              5
279       CYCLE-BK-10*12   431060   13.0              6
842         VISHNU 250ML   400239   35.0              7
638           ROBO 10*12   353880    5.5              8
37   10*12 KRISHNA-BK(10   349720   15.0              9
824   TIRUMALA-50(13*16)   346776   28.0             10
223          APPLE WATER   321065   29.0             11
88        13*16 WHITE RK   296930   17.0             12
432           LIDS-750ML   295709  400.0             13
283      CYCLE-BLU-13*16   283310   13.5             14
238      BLACK DOG-350ML   278456   33.0             15
843         VISHNU 300ML   276375   50.0             16
352    GARUDA 10*12 BLUE   268590   13.5             17
827  TIRUMALA-50B(10*12)   248350    8.5             18
825   TIRUMALA-50(16*20)   238609   30.0             19
230        BAHUBALI WINE   234946   31.0             20

Most Popular Items

In [21]:
# Considered Date column instead of Voucher, in counting the no of orders placed for a product.
# This ignores the multiple no of orders created in a single day.

# Removing duplicate records at Product, Date and Party level under the belief that
#a customer places a 2nd order of the same product in a day, only when he/she notices a wrong qty placed on the order
unique_order_items_df = sales_df.drop_duplicates(['Product','Date','Party'])

# Finding the no of orders placed and the unique no of customers placed orders, of each product
most_popular_items_df = unique_order_items_df.groupby('Product').agg({'Date':'count', 'Party':'nunique'})
most_popular_items_df.columns=['No_of_Orders','No_of_Customers']

In [22]:
# Reset the index by converting the Product into a column
most_popular_items_df.reset_index(inplace=True)
most_popular_items_df.head(15)

                Product  No_of_Orders  No_of_Customers
0       1.25 COOLDRINKS             1                1
1   10" CLASSIFOAM-1200            24                8
2     10" ESSFOAM LOOSE             2                2
3             10" GREEN             1                1
4      10" SILVER HEAVY             1                1
5   10" THERMOCOL PRINT             2                2
6         10*10 CITIZEN             9                7
7          10*10 DHAVAT             7                3
8         10*10 JANATHA             1                1
9            10*10 MORE           193               46
10       10*10 NILKAMAL            60               22
11    10*10 PAPER SHEET            20               13
12      10*10 PRIYA 2ND             1                1
13  10*10 RADHA KRISHNA           171               29
14          10*10 ROYAL            31               17

In [23]:
#finding the most frequently purchased items
O = most_popular_items_df['No_of_Orders']
C = most_popular_items_df['No_of_Customers']
M = most_popular_items_df['No_of_Customers'].max()

most_popular_items_df['Weighted_No_of_Orders'] = O * (C / M)
most_popular_items_df['Popularity_Rank'] = most_popular_items_df['Weighted_No_of_Orders'].rank(method='min',ascending=False).astype(int)

most_popular_items_df.sort_values('Popularity_Rank',ascending=True).head(20)

,Product,No_of_Orders,No_of_Customers,Weighted_No_of_Orders,Popularity_Rank
91,14 GREEN,2365,244,2365.000000,1
825,TIRUMALA-50(16*20),2123,224,1948.983607,2
238,BLACK DOG-350ML,1945,206,1642.090164,3
223,APPLE WATER,1853,203,1541.635246,4
843,VISHNU 300ML,2060,160,1350.819672,5
842,VISHNU 250ML,1962,166,1334.803279,6
19,10*10 TEJA,1454,184,1096.459016,7
230,BAHUBALI WINE,1468,181,1088.967213,8
824,TIRUMALA-50(13*16),1491,176,1075.475410,9
465,NO-1,1178,195,941.434426,10
460,NO-0,1177,194,935.811475,11
147,4*5 TRISUL,1037,188,799.000000,12
282,CYCLE-BLU-10*12,1302,129,688.352459,13
462,NO-00,923,174,658.204918,14
311,DONA-VAI-9100,1405,114,656.434426,15
796,TIFFIN PLATENO-10,836,191,654.409836,16
503,PAPER TEA,939,170,654.221311,17
847,VISHNU ICE,804,182,599.704918,18
468,NO-2,837,173,593.446721,19
88,13*16 WHITE RK,984,137,552.491803,20

In [24]:
#Merging all the Ranks that we perfomed previously
# Merge Top Selling Items Rank and Popularity Rank dataframes
product_rankings_df = pd.merge(top_sell_items_df,most_popular_items_df,how='inner',on='Product')

# Get only the Product, Price and Rank columns
product_rankings_df = product_rankings_df[['Product','Rate','Top_Sell_Rank','Popularity_Rank']]

# List the Product Rankings
product_rankings_df.sort_values('Popularity_Rank',ascending=True).head(20)

                Product    Rate  Top_Sell_Rank  Popularity_Rank
91             14 GREEN   400.0              1                1
825  TIRUMALA-50(16*20)    30.0             19                2
238     BLACK DOG-350ML    33.0             15                3
223         APPLE WATER    29.0             11                4
843        VISHNU 300ML    50.0             16                5
842        VISHNU 250ML    35.0              7                6
19           10*10 TEJA   142.0             64                7
230       BAHUBALI WINE    31.0             20                8
824  TIRUMALA-50(13*16)    28.0             10                9
465                NO-1   160.0            123               10
460                NO-0  1540.0            124               11
147          4*5 TRISUL   165.0             22               12
282     CYCLE-BLU-10*12     7.1              2               13
462               NO-00   160.0            138               14
311       DONA-VAI-9100  1944.0            221               15
796   TIFFIN PLATENO-10    35.0             50               16
503           PAPER TEA    40.0             33               17
847          VISHNU ICE    25.0             46               18
468                NO-2   160.0            164               19
88       13*16 WHITE RK    17.0             12               20

In [26]:
#Write the Product Rankings into a .csv file
product_rankings_df.to_csv('Product-Rankings.csv',index=False)

In [28]:
#Create a Pickle (.pkl) file with the Ranking dataframe
import pickle
pickle.dump(product_rankings_df, open('prod_ranking_model.pkl','wb'))

Recommendation of products to customer

In [29]:
# Import Feature Engineered Sales Transaction file
sales_df = pd.read_csv('Sales-Transactions-Edited.csv')

Building a Correlation Matrix for the Customer-Product relations (using User-User based recommendation)

In [30]:
# Find the total qty purchased by each customer of each product
prod_cust_qty_df = sales_df.groupby(['Product','Party']).agg({'Qty':'sum'})

# Reset the index :converts the Party and Product into columns
prod_cust_qty_df.reset_index(inplace=True)
prod_cust_qty_df.head(15)

                Product                Party  Qty
0       1.25 COOLDRINKS   BRHAMADEVI SUDHEER    2
1   10" CLASSIFOAM-1200      BALAJI PLASTICS    1
2   10" CLASSIFOAM-1200  JAGADHAMBA PLASTICS    1
3   10" CLASSIFOAM-1200                  KNC   12
4   10" CLASSIFOAM-1200                  SMS   10
5   10" CLASSIFOAM-1200      SUNDHA PLASTICS    8
6   10" CLASSIFOAM-1200           SVP-BUCHHI    3
7   10" CLASSIFOAM-1200                  TPP    1
8   10" CLASSIFOAM-1200            VARUN-SPT    1
9     10" ESSFOAM LOOSE  KARTHIK DEPARTMENTS   10
10    10" ESSFOAM LOOSE                 TP13  300
11            10" GREEN      MAYURI CATERING    8
12     10" SILVER HEAVY                 TP13   10
13  10" THERMOCOL PRINT        A.SRINIVASULU  500
14  10" THERMOCOL PRINT      CHAKKA RANGAYYA  150

In [31]:
# Find the no of unique customers purchased each product
prod_cust_count_df = sales_df.groupby(['Product']).agg({'Party':'nunique'})

# Set the customer count column
prod_cust_count_df.columns=['No_of_Customers']

# Reset the index :converting the Party and Product into columns
prod_cust_count_df.reset_index(inplace=True)
prod_cust_count_df.head(15)

                Product  No_of_Customers
0       1.25 COOLDRINKS                1
1   10" CLASSIFOAM-1200                8
2     10" ESSFOAM LOOSE                2
3             10" GREEN                1
4      10" SILVER HEAVY                1
5   10" THERMOCOL PRINT                2
6         10*10 CITIZEN                7
7          10*10 DHAVAT                3
8         10*10 JANATHA                1
9            10*10 MORE               46
10       10*10 NILKAMAL               22
11    10*10 PAPER SHEET               13
12      10*10 PRIYA 2ND                1
13  10*10 RADHA KRISHNA               29
14          10*10 ROYAL               17

In [32]:
# Merging the unique customer count and qty purchased of each product
prod_cust_df = pd.merge(prod_cust_qty_df,prod_cust_count_df,how='inner',on='Product')

In [33]:
# Creating a pivot table with all Customers on columns and Products on rows, and Qty as values
prod_cust_pivot_df = prod_cust_df.pivot(index='Product',columns='Party',values='Qty').fillna(0)

In [34]:
# Identifying the correlation between every two customers and building a correlation matrix using corr() method
cust_correlation_df = prod_cust_pivot_df.corr(method='spearman',min_periods=5)

In [35]:
#saving data as csv
cust_correlation_df.to_csv('Customer-Customer-Correlation-Matrix.csv')

In [36]:
#Creating a Pickle (.pkl) file with the Correlation Matrix dataframe
pickle.dump(cust_correlation_df, open('cust_correlation_model.pkl','wb'))

Recommend similar products

In [37]:
# Import Feature Engineered Sales Transaction file
sales_df = pd.read_csv('Sales-Transactions-Edited.csv')

In [38]:
# Find the total qty purchased by each customer of each product
prod_cust_qty_df = sales_df.groupby(['Product','Party']).agg({'Qty':'sum'})

# Reset the index by converting the Party and Product into columns
prod_cust_qty_df.reset_index(inplace=True)

In [39]:
# Find the no of unique customers purchased each product
prod_cust_count_df = sales_df.groupby(['Product']).agg({'Party':'nunique'})

# Set the customer count column
prod_cust_count_df.columns=['No_of_Customers']

# Reset the index by converting the Party and Product into columns
prod_cust_count_df.reset_index(inplace=True)
prod_cust_count_df.head(15)

                Product  No_of_Customers
0       1.25 COOLDRINKS                1
1   10" CLASSIFOAM-1200                8
2     10" ESSFOAM LOOSE                2
3             10" GREEN                1
4      10" SILVER HEAVY                1
5   10" THERMOCOL PRINT                2
6         10*10 CITIZEN                7
7          10*10 DHAVAT                3
8         10*10 JANATHA                1
9            10*10 MORE               46
10       10*10 NILKAMAL               22
11    10*10 PAPER SHEET               13
12      10*10 PRIYA 2ND                1
13  10*10 RADHA KRISHNA               29
14          10*10 ROYAL               17

In [40]:
# Merge the unique customer count and qty purchased of each product
prod_cust_df = pd.merge(prod_cust_qty_df,prod_cust_count_df,how='inner',on='Product')
# Create a pivot table with all Products on columns and Customers on rows, and Qty as values
prod_cust_pivot_df = prod_cust_df.pivot(index='Party',columns='Product',values='Qty').fillna(0)
prod_cust_pivot_df.head(15)

Product,1.25 COOLDRINKS,"10"" CLASSIFOAM-1200","10"" ESSFOAM LOOSE","10"" GREEN","10"" SILVER HEAVY","10"" THERMOCOL PRINT",10*10 CITIZEN,10*10 DHAVAT,10*10 JANATHA,10*10 MORE,...,WATER DISPENSERS,WATER GLASS,WATER GLASS(300),WELCOME GLASS,WINE GLASS,ZEN-D CHEAP,ZEN-REALPACK,ZEND-1ST,ZEND-CLASSIC,ZEND-PREMIUM
Party,,,,,,,,,,,,,,,,,,,,,
A.BHASKER-VGIRI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A.SRINIVASULU,0.0,0.0,0.0,0.0,0.0,500.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,0.0,25.0
A.SRINIVASULU-SPT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,45.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A.VENKATESWARLU-VB,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A1 PLASTICS-SPT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ABC,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ACK,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ACR-PDKR,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ADHI CHIKENSTALL-GD,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AFOOZO PRIVATE LIMI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AJANTHA HOTEL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AK-KAVALI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AKBAR COOLDRINKS,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AMMA AGENCIES,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ANILFANCY,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,50.0

In [41]:
# Find the correlation between every two products and build a correlation matrix using corr() method
prod_correlation_df = prod_cust_pivot_df.corr(method='spearman',min_periods=5)

In [42]:
prod_correlation_df.to_csv('Product-Product-Correlation-Matrix.csv')

In [43]:
pickle.dump(prod_correlation_df, open('prod_correlation_model.pkl','wb'))

CUSTOMER - PRODUCT RANKING

In [44]:
import matplotlib.pyplot as plt
import pickle

# Import Feature Engineered Sales Transaction file
sales_df = pd.read_csv('Sales-Transactions-Edited.csv')

In [46]:
#ITERMS CUSTOMER PURCHASED THE MOST
#Find the no of units sold of each product by customer
top_sell_cust_items_df = sales_df.groupby(['Party','Product']).agg({'Qty':'sum'})

# Reset the index :converting the Party and Product into a column
top_sell_cust_items_df.reset_index(inplace=True)

In [47]:
# Rank the product by most Qty sold, at Customer level
party_col = top_sell_cust_items_df['Party']
qty_col = top_sell_cust_items_df['Qty'].astype(str)
top_sell_cust_items_df['Top_Sell_Rank'] = (party_col + qty_col).rank(method='min',ascending=False).astype(int)

top_sell_cust_items_df.sort_values('Top_Sell_Rank',ascending=True).head(20)

            Party           Product  Qty  Top_Sell_Rank
19726     YVT-PMR      VISHNU 250ML  600              1
19722     YVT-PMR             NO-00    5              2
19725     YVT-PMR   TIRUMALA KIRANA   43              3
19724     YVT-PMR              NO-2   10              4
19721     YVT-PMR              NO-0   10              4
19720     YVT-PMR              N0-5   10              4
19723     YVT-PMR              NO-1   10              4
19715  YVSR-VGIRI              NO-2    9              8
19712  YVSR-VGIRI              NO-0    8              9
19711  YVSR-VGIRI              N0-5    5             10
19707  YVSR-VGIRI  DHARAM 6PC SMALL    4             11
19717  YVSR-VGIRI              NO-5    4             11
19716  YVSR-VGIRI              NO-3    2             13
19713  YVSR-VGIRI             NO-00    2             13
19708  YVSR-VGIRI      DHARAM-15PCS    2             13
19709  YVSR-VGIRI      GANESH 13*16  150             16
19714  YVSR-VGIRI              NO-1   15             17
19710  YVSR-VGIRI      GANESH 16*20  100             18
19718  YVSR-VGIRI       RUBBER 100G    1             19
19706  YVSR-VGIRI       20*26 COVER    1             19

In [48]:
# Considered Date column instead of Voucher, in counting the no of orders placed for a product.
# This ignores the multiple no of orders created in a single day.
# Remove duplicate records at Party, Product and Date level
unique_order_items_df = sales_df.drop_duplicates(['Party','Product','Date'])

In [49]:
# Find the no of orders placed and the unique no of customers placed orders, of each product
freq_items_df = unique_order_items_df.groupby(['Party','Product']).agg({'Date':'count'})
freq_items_df.columns=['No_of_Orders']
# Reset the index by converting the Party and Product into columns
freq_items_df.reset_index(inplace=True)

In [50]:
# Rank the product by No of Orders, at Customer Level
party_col = freq_items_df['Party']
ord_count_col = freq_items_df['No_of_Orders'].astype(str)
freq_items_df['Popularity_Rank'] = (party_col + ord_count_col).rank(method='min',ascending=False).astype(int)

# List of top 20 most popular items sold
freq_items_df.sort_values('Popularity_Rank',ascending=True).head(20)

            Party           Product  No_of_Orders  Popularity_Rank
19726     YVT-PMR      VISHNU 250ML             4                1
19724     YVT-PMR              NO-2             1                2
19723     YVT-PMR              NO-1             1                2
19722     YVT-PMR             NO-00             1                2
19721     YVT-PMR              NO-0             1                2
19720     YVT-PMR              N0-5             1                2
19725     YVT-PMR   TIRUMALA KIRANA             1                2
19709  YVSR-VGIRI      GANESH 13*16             2                8
19710  YVSR-VGIRI      GANESH 16*20             2                8
19712  YVSR-VGIRI              NO-0             2                8
19714  YVSR-VGIRI              NO-1             2                8
19715  YVSR-VGIRI              NO-2             2                8
19713  YVSR-VGIRI             NO-00             1               13
19716  YVSR-VGIRI              NO-3             1               13
19711  YVSR-VGIRI              N0-5             1               13
19717  YVSR-VGIRI              NO-5             1               13
19718  YVSR-VGIRI       RUBBER 100G             1               13
19708  YVSR-VGIRI      DHARAM-15PCS             1               13
19707  YVSR-VGIRI  DHARAM 6PC SMALL             1               13
19706  YVSR-VGIRI       20*26 COVER             1               13

In [51]:
# Merge Top Selling Items Rank and Popularity Rank dataframes
cust_prod_rankings_df = pd.merge(top_sell_cust_items_df,freq_items_df,how='inner',on=['Party','Product'])

In [52]:
# Merge the Unit Price (max price at product level)
# Find the unit price of each product (max of price considered, may required to be changed to median or mean)
items_price_df = sales_df.groupby(['Product']).agg({'Rate':'max'})

# Reset the index by converting the Party and Product into columns
items_price_df.reset_index(inplace=True)

In [53]:
# This ensures the same unit price is attached to the product purchased by different customers
cust_prod_rankings_df = pd.merge(cust_prod_rankings_df,items_price_df,how='left',on='Product')
# Get only the Customer, Product, Price and Rank columns
cust_prod_rankings_df = cust_prod_rankings_df[['Party','Product','Rate','Qty','Top_Sell_Rank','No_of_Orders','Popularity_Rank']]

# List the Product Rankings
cust_prod_rankings_df.sort_values('Popularity_Rank',ascending=True).head(20)

,Party,Product,Rate,Qty,Top_Sell_Rank,No_of_Orders,Popularity_Rank
19726,YVT-PMR,VISHNU 250ML,35.0,600,1,4,1
19724,YVT-PMR,NO-2,160.0,10,4,1,2
19723,YVT-PMR,NO-1,160.0,10,4,1,2
19722,YVT-PMR,NO-00,160.0,5,2,1,2
19721,YVT-PMR,NO-0,1540.0,10,4,1,2
19720,YVT-PMR,N0-5,160.0,10,4,1,2
19725,YVT-PMR,TIRUMALA KIRANA,160.0,43,3,1,2
19709,YVSR-VGIRI,GANESH 13*16,260.0,150,16,2,8
19710,YVSR-VGIRI,GANESH 16*20,320.0,100,18,2,8
19712,YVSR-VGIRI,NO-0,1540.0,8,9,2,8
19714,YVSR-VGIRI,NO-1,160.0,15,17,2,8
19715,YVSR-VGIRI,NO-2,160.0,9,8,2,8
19713,YVSR-VGIRI,NO-00,160.0,2,13,1,13
19716,YVSR-VGIRI,NO-3,160.0,2,13,1,13
19711,YVSR-VGIRI,N0-5,160.0,5,10,1,13
19717,YVSR-VGIRI,NO-5,160.0,4,11,1,13
19718,YVSR-VGIRI,RUBBER 100G,400.0,1,19,1,13
19708,YVSR-VGIRI,DHARAM-15PCS,95.0,2,13,1,13
19707,YVSR-VGIRI,DHARAM 6PC SMALL,180.0,4,11,1,13
19706,YVSR-VGIRI,20*26 COVER,120.0,1,19,1,13

In [54]:
cust_prod_rankings_df.to_csv('Customer-Product-Rankings.csv',index=False)

In [55]:
pickle.dump(cust_prod_rankings_df, open('cust_prod_ranking_model.pkl','wb'))